html {
  width: 100%;
  height: 100%;
  font-family: "Calibri";
  background-color: rgba(245, 174, 43, 0.918);
}
body {
  margin: 0;
  padding: 0;
}
hr {
  margin: auto 100px auto 100px;
}
#cabecera {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  background-color: rgba(216, 125, 7, 0.829);
}
#bloqueLogoTitulo {
  display: flex;
}
#logo {
  width: 100px;
  height: 100px;
  margin: 5px;
}
#tituloPagina {
  text-align: left;
  flex-grow: 1;
  margin: 30px;
  margin-left: 10px;
  line-height: 50px;
  text-shadow: 3px 3px 2px #000;
}
#navegacion {
  text-align: center;
  margin: auto;
  margin-right: 10px;
}
p {
  padding: 5px;
  text-align: justify;
}
a:not(#tituloFooter)  {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  color: rgba(255, 255, 255, 0.76);
}
#listaNav {
  list-style-type: none;
  margin: 10px;
}
#celdaNav {
  margin: 10px;
  padding: 15px;
  display: inline;
  position: relative;
  font-size: 130%;
  text-shadow: 3px 3px 2px #000;
}
#contenido {
  width: 100%;
  height: 100%;
  display: block;
  color: rgba(255, 255, 255, 0.76);
}
#bloqueTituloCalidad {
  text-align: center;
  margin: 20px 60px 20px 60px;
  padding: 10px 20px 20px 20px;
  background-color: rgb(219, 107, 42);
}
h2 {
  font-size: 200%;
  text-shadow: 3px 3px 2px #000;
}
#videoFondo {
  width: 80%;
  height: 80%;
  display: block;
  margin: 0 auto;
  padding: 10px;
}
#footer {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(216, 125, 7, 0.829);
}
#footerPaginas {
  display: block;
  margin: auto;
  margin-left: 100px;
  margin-top: 20px;
}
#tituloFooter {
  text-decoration: none;
  color: black;
}
#listaFooterPaginas {
  list-style-type: none;
  margin: auto;
}
#celdaFooterPaginas {
  margin: 20px;
}
#footerRedesSociales {
  display: block;
  margin: auto;
  margin-right: 1000px;
  margin-top: 20px;
}
#listaFooterRedesSociales {
  display: flex;
  list-style-type: none;
  margin-right: 40px;
}
