/* SELECTORES GENERALES 12 */
body {
  background-color: rgba(245, 174, 43, 0.918);
  font-family: "Calibri";
}
header {
  background-color: rgba(216, 125, 7, 0.829);
}
.logo {
  width: 100px;
  height: 100px;
}
.titulo {
  text-shadow: 3px 3px 2px #000;
  margin: 30px;
}
nav {
  text-align: center;
}
a:not(.tituloFooter) {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  color: rgba(255, 255, 255, 0.76);
}
.celdaNav {
  list-style-type: none;
  margin: 10px;
  padding: 15px;
  font-size: 130%;
  text-shadow: 3px 3px 2px #000;
}
h2 {
  color: rgba(255, 255, 255, 0.76);
  text-shadow: 3px 3px 2px #000;
}
.bloqueFormulario {
  background-color: rgb(219, 107, 42);
}
form {
  background-color: rgba(0, 0, 0, 0.8);
}
.form-control,
.form-control:focus {
  color: white;
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.45);
}
.bloqueObservaciones {
  margin: auto;
  width: 50%;
}
textarea {
  resize: none;
}
.form-control,
.form-control:focus {
  color: white;
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.45);
}
.cajas {
  background-color: rgba(216, 125, 7, 0.829);
  border: 2px solid #fff;
  margin: 15px 0;
}
.btn {
  padding: 5px 25px;
  border-radius: 7px;
  background-color: #000;
}
footer {
  background-color: rgba(216, 125, 7, 0.829);
}

/* SELECTORES PRINCIPAL */

.divTxt {
  background-color: black;
  border: solid 3px gray;
  justify-self: center;
  margin: 40px;
  width: 750px;
  padding: 20px;
}
.sliderPlatos {
  max-width: 300px;
}
.sliderImagen {
  width: 280px;
  height: 200px;
}
button {
  text-transform: uppercase;
  margin: 95px;
}
button:hover {
  box-shadow: 3px 3px 5px #000;
}

/* SELECTORES CARTA */

.filaPlato {
  color: #000;
}
.bloquePlato {
  background-color: rgb(219, 107, 42);
  border-radius: 25px;
}
.textoPlato {
  background-color: rgba(216, 125, 7, 0.829);
}

/* SELECTORES RESERVAS */

.contenidoReservas {
  color: rgba(255, 255, 255, 0.76);
}

/* SELECTORES CALIDAD */

.contenidoCalidad {
  color: rgba(255, 255, 255, 0.76);
}
.textoCalidad {
  color: rgba(0, 0, 0, 0.76);
  font-weight: bold;
  font-size: large;
}

/* SELECTORES CONTACTO */

.contenidoContacto {
  color: rgba(255, 255, 255, 0.76);
}
.bloqueMapa {
  background-color: rgb(219, 107, 42);
}
.bloqueInfoLocal {
  background-color: rgb(219, 107, 42);
}
.infoLocal {
  background-color: rgba(0, 0, 0, 0.8);
}

/* SELECTORES BOOTSTRAP */

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-overlay {
  border-radius: 3px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}
