html {
  width: 100%;
  height: 100%;
  font-family: "Calibri";
  background-color: rgba(110, 161, 42, 0.863);
}
body {
  margin: 0;
  padding: 0;
}
hr {
  margin: auto 100px auto 100px;
}
#cabecera {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  background-color: rgba(201, 98, 29, 0.904);
}
#logo {
  width: 35%;
  margin: 5px;
  margin-right: 250px;
  align-self: center;
}
#tituloPagina {
  text-align: left;
  flex-grow: 1;
  margin: 30px;
  margin-left: 300px;
  line-height: 50px;
  text-shadow: 3px 3px 2px #000;
}
p {
  padding: 5px;
  text-align: justify;
}
a:not(#tituloFooter)  {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  color: rgba(255, 255, 255, 0.76);
}
#openNavegacion {
  margin: 20px 40px 20px 20px;
  font-size: 40px;
}
#navegacion {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(219, 130, 71);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
#navegacion a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  text-shadow: 3px 3px 2px #000;
  display: block;
  transition: 0.3s;
}
#navegacion a:hover {
  color: #f1f1f1;
}
#navegacion .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.closebtn {
  margin-top: 15px;
  margin-right: 15px;
}
@media screen and (max-height: 450px) {
  #navegacion {padding-top: 15px;}
  #navegacion a {font-size: 18px;}
}
#contenido {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.76);
  padding: 30px;
}
#bloqueMapaNewsMovil {
  display:flex;
  flex: 1;
}
#bloqueMapa {
  width: 50%;
  margin: 20px;
  margin-left: 100px;
}
#mapa {
  width: 750px;
  height: 400px;
  margin: 20px;
}
#bloqueNewsMovil {
  display: block;
  align-self: center;
  margin: 40px;
  margin-right: 150px;
  text-align: center;
  width: 50%;
}
#bloqueNews {
  width: 50%;
  margin: 20px;
  margin-bottom: 50px;
  background-color: rgba(201, 98, 29, 0.904);
  border: black solid 2px;
  padding: 0 20px 0 20px;
}
h2 {
  font-size: 150%;
  text-shadow: 3px 3px 2px #000;
}
#bloqueMovil {
  display: flex;
  margin: 20px;
  margin-top: 150px;
  background-color: white;
  width: fit-content;
  border: rgb(219, 130, 71) solid 2px;
}
#imagenMovil {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
#labelMovil {
  align-self: center;
  background-color: white;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  font-size: 150%;
  margin-right: 10px;
}
#footer {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(201, 98, 29, 0.904);
}
#footerPaginas {
  display: block;
  margin: auto;
  margin-left: 100px;
  margin-top: 20px;
}
#tituloFooter {
  text-decoration: none;
  color: black;
}
#listaFooterPaginas {
  list-style-type: none;
  margin: auto;
}
#celdaFooterPaginas {
  margin: 20px;
}
#footerRedesSociales {
  display: block;
  margin: auto;
  margin-right: 1000px;
  margin-top: 20px;
}
#listaFooterRedesSociales {
  display: flex;
  list-style-type: none;
  margin-right: 40px;
}
