html {
  width: 100%;
  height: 100%;
  font-family: "Calibri";
  background-color: burlywood;
}
body {
  margin: 0;
  padding: 0;
}
hr {
  margin: auto 100px auto 100px;
}
#cabecera {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  background-color: rgb(212, 141, 48);
}
#bloqueLogoTitulo {
  display: flex;
}
#logo {
  width: 100px;
  height: 100px;
  margin: 5px;
}
#tituloPagina {
  text-align: left;
  flex-grow: 1;
  margin: 30px;
  margin-left: 10px;
  line-height: 50px;
  text-shadow: 3px 3px 2px #000;
}
#navegacion {
  text-align: center;
  margin: auto;
  margin-right: 10px;
}
p {
  padding: 5px;
  text-align: justify;
}
a:not(#tituloFooter)  {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  color: rgba(255, 255, 255, 0.76);
}
#listaNav {
  list-style-type: none;
  margin: 10px;
}
#celdaNav {
  margin: 10px;
  padding: 15px;
  display: inline;
  position: relative;
  font-size: 130%;
  text-shadow: 3px 3px 2px #000;
}
#contenido {
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  margin: 20px auto 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.76);
  padding: 30px;
}
#bloqueTituloInfoNutricional {
  background-color: rgb(235, 161, 64);
  padding: 10px 20px 20px 20px;
}
h2 {
  font-size: 200%;
  text-shadow: 3px 3px 2px #000;
}
#imagenInfoNutricional {
  display: block;
  width: 90%;
  height: 90%;
  margin: 20px auto 20px;
}
#footer {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(212, 141, 48);
}
#footerPaginas {
  display: block;
  margin: auto;
  margin-left: 100px;
  margin-top: 20px;
}
#tituloFooter {
  text-decoration: none;
  color: black;
}
#listaFooterPaginas {
  list-style-type: none;
  margin: auto;
}
#celdaFooterPaginas {
  margin: 20px;
}
#footerRedesSociales {
  display: block;
  margin: auto;
  margin-right: 1000px;
  margin-top: 20px;
}
#listaFooterRedesSociales {
  display: flex;
  list-style-type: none;
  margin-right: 40px;
}
textarea{
  display: none;
  }
