/* SELECTORES GENERALES PIZZAS */
body {
  font-family: "Calibri";
  background-color: rgba(110, 161, 42, 0.863);
}
header {
  background-color: rgba(201, 98, 29, 0.904);
}
.titulo {
  text-shadow: 3px 3px 2px #000;
}
.logo {
  width: 500px;
  height: 75px;
}
nav {
  background-color: rgb(219, 130, 71);
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.openNavegacion {
  font-size: 40px;
}
nav a {
  margin-left: 10px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  text-shadow: 3px 3px 2px #000;
  display: block;
  transition: 0.3s;
}
nav a:hover {
  color: #f1f1f1;
}
nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
.closebtn {
  margin-top: 15px;
  margin-right: 15px;
}
a:not(.tituloFooter) {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  color: rgba(255, 255, 255, 0.76);
}
h2 {
  color: rgba(255, 255, 255, 0.76);
  text-shadow: 3px 3px 2px #000;
}
.bloqueFormulario {
  background-color: rgba(201, 98, 29, 0.904);
}
form {
  background-color: rgba(0, 0, 0, 0.8);
}
.form-control,
.form-control:focus {
  color: white;
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.45);
}
.cajas {
  background-color: rgba(110, 161, 42, 0.863);
  margin: 15px 0;
  border: 2px solid #fff;
}
.btn {
  padding: 5px 25px;
  border-radius: 7px;
}
footer {
  background-color: rgba(201, 98, 29, 0.904);
}

/* SELECTORES PRINCIPAL */
.mapa {
  width: 750px;
  height: 400px;
}
.bloqueNews {
  background-color: rgba(201, 98, 29, 0.904);
  border: black solid 2px;
}
.bloqueMovil {
  border: black solid 2px;
  width: fit-content;
}
.imagenMovil {
  width: 50px;
  height: 50px;
}
.labelMovil {
  color: black;
  text-shadow: 1px 1px 1px #000;
  font-size: 150%;
}

/* SELECTORES CARTA */

.filaPlato {
  color: rgba(255, 255, 255, 0.76);
}
.bloquePlato {
  background-color: rgba(201, 98, 29, 0.904);
}
.textoPlato {
  background-color: rgba(219, 112, 40, 0.692);
}

/* SELECTORES PEDIDOS */

.bloquePlatosForm {
  color: rgba(255, 255, 255, 0.76);
}
.bloquePlatos {
  background-color: rgba(201, 98, 29, 0.904);
}
.filaPlatos {
  background-color: rgba(0, 0, 0, 0.8);
}
.platos {
  font-weight: bold;
}

/* SELECTORES PROMOCIONES */

.bloqueTituloPromociones {
  background-color: rgba(201, 98, 29, 0.904);
}
.promociones {
  background-color: rgba(110, 161, 42, 0.863);
  border: solid black 2px;
  text-shadow: 3px 3px 2px #000;
}
.textosPromociones {
  text-align: center;
  font-weight: bold;
  font-size: 140%;
  color: rgba(255, 255, 255, 0.76);
}

/* SELECTORES CONTACTO */

.bloqueInfoForm {
  color: rgba(255, 255, 255, 0.76);
}
.bloqueInfoLocal {
  background-color: rgba(201, 98, 29, 0.904);
}
.infoLocal {
  background-color: rgba(0, 0, 0, 0.8);
}

/* SELECTORES BOOTSTRAP */

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-overlay {
  border-radius: 3px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}
